body {
	background: #f5f5f5;
}
.container {
	margin-top: 20px;
	font-family: 'Lora', serif;
	color: #d9534f;
}
.jumbotron {
	padding-top: 10px;
	background-color: #2E4272;
}
.btn-danger {
	margin-top: 10px;
}
.secondes {
	margin-top : -20px;
}
#paris {
	transition: 0.25s;
	visibility: hidden;
	opacity: 0;
}
